.market-code-generator .axie-form {
    margin: 24px;
}

.market-code-generator .axie-form .generated-code {
    max-width: 600px;
}

.market-code-generator .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market-code-generator .axie-genes-form-container {
    display: flex;
    margin-top: 40px;
}

.market-code-generator .axie-genes-form-container .side-form {
    margin: 40px;
}

.market-code-generator .axie-genes-form-container .slider-container {
    width: 200px;
    margin: 20px 0;
}

.market-code-generator .axie-genes-form-container .form-control {
    width: 300px;
}
