.scholar-details .box-container {
    padding: 16px;
    margin-right: 24px;
    border-radius: 8px;
    box-sizing: border-box;
    height: 100%;
    min-width: 320px;
}

.scholar-details .box-container.scholar-stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scholar-details .box-container .claim-date-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scholar-details .box-container .claim-date {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scholar-details .ronin-account-container {
    margin-bottom: 4px;
}

.scholar-details .row-container {
    margin-bottom: 16px;
}

.scholar-details .coin-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

.scholar-details .inventory-item-image-container {
    display: flex;
    justify-content: center;
}

.scholar-details .box-container .coin-logo-container .coin-logo {
    width: 30px;
    margin-right: 16px;
}

.scholar-details .box-container .coin-logo-container {
    margin-right: 4px;
}
